<div class="back">
  <div class="login">
    <div class="login_form">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <h2>ログイン</h2>
        <div class="field">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "メールアドレス." %>
        </div>

        <div class="field">
          <%= f.password_field :password, autocomplete: "current-password", placeholder: "パスワード" %>
        </div>

        <div class="actions">
          <%= f.submit "ログイン" %>
        </div>

        <div class="link">
          <%= render "devise/shared/links" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
