<div class="long_back">
  <div class="back">
    <div class="above">
      <div class="search">
        <%= form_with(model: Board.new, url: boards_path, method: :get, local: true) do |f| %>
          <%= f.text_field :title %>
          <%= f.submit '検索', class: 'search_button' %>
      <% end %>
      </div>
    </div>

    <div class="title">
      <%= link_to '5chクローン', categories_path %>
    </div>

    <div class="board_index">
      <div class="sub_title">
        <h2>スレッド一覧</h2>
      </div>
      <div class="content">
        <% count = 0 %>
        <% @boards.each do |board| %>
          <div class="board">
            <%= link_to anchor: "#{count}" do%>
              <% count += 1 %>
              <%= count %>
              <%= board.title %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="board_details">
      <% send_number = 0%>
      <% @boards.each do |board| %>
        <div class="board_detail">
          <% send_number += 1 %>
          <h2 ><%= board.title %></h2>
          <% board.responses.last(10).each do |response| %>
            <div class="responses">
              <p>
                <%= response.response_number %>
                <span class="user_name"><%= "#{response.user.name}" %></span>
                <%= response.content %>
                <%= response.created_at.strftime("%Y/%m/%d(#{%w(日 月 火 水 木 金 土)[response.created_at.wday]})") %>
              </p>
              <p>
                <%= response.content %>
              </p>
            </div>
          <% end %>
          <%= link_to "スレッド詳細を確認する", board_path(board.id), id: "#{send_number}" %>
          <div class="response_form">
            <div class="sub_title">
              <h3>書き込み欄</h3>
            </div>
            <%= form_with(model: @responce, local: true, url: responses_path) do |f| %>

            <div class="submit">
              <%= f.submit '書き込む' %>
            </div>

            <div class="hidden_value">
              <% response_number = board.responses.count + 1 %>
              <%= f.hidden_field :board_id, value: board.id%>
              <%= f.hidden_field :response_number, value: "#{response_number}" %>
            </div>

            <div class="responce_content">
              <%= f.text_area :content %>
            </div>
          <% end %>
          </div>
        </div>
      <% end %>
    </div>

    <div class="board_form">
      <%= form_with(model: @board, local: true) do |f| %>
        <div class="sub_title">
          <h2>新規スレッド作成</h2>
        </div>

        <div class="submit">
          <%= f.submit '新規スレッド作成' %>
        </div>

        <div class="board_category">
          <% if @category %>
            <%= f.collection_check_boxes(:category_ids, Category.all, :id, :name, checked: @category.id) %>
          <% else %>
            <%= f.collection_check_boxes(:category_ids, Category.all, :id, :name) %>
          <% end %>
        </div>

        <div class="board_title">
          <%= f.label :スレッドタイトル： %>
          <%= f.text_field :title %>
        </div>

        <div class="board_content">
          <%= f.text_area :content %>
        </div>
      <% end %>
    </div>

    <div class="under_blank">
    </div>
  </div>
</div>
