<div class="board_index">
  <% @boards.each do |board| %>
    <div class="board">
      <%= board.title %>
      <%= board.content %>
    </div>
  <% end %>
</div>

<%= form_with(model: @board, local: true) do |f| %>

<div class="board_category">
  <%= f.collection_check_boxes(:category_ids, Category.all, :id, :name) %>
</div>

  <div class="board_title">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="board_content">
    <%= f.label :content %>
    <%= f.text_field :content %>
  </div>

  <%= f.submit %>
<% end %>
