<div class="back_gray">
  <div class="above">
    <div class="title">
      <%= link_to '5chクローン', categories_path %>
    </div>
    <div class="search">
      <%= form_with(model: Board.new, url: boards_path, method: :get, local: true) do |f| %>
        <%= f.text_field :title %>
        <%= f.submit 'スレタイ検索', class: 'search_button' %>
    <% end %>
    </div>
  </div>

  <div class="response_index">
    <h2><%= @board.title %></h2>
    <p><%= @board.content %></p>
    <% count = 1 %>
    <% if @responses[0] %>
      <% @responses.each do |response| %>
      <div class="response">
        <p>
          <%= response.response_number %>
          <span class="user_name"><%= "#{response.user.name}" %></span>
          <%= response.content %>
          <%= response.created_at.strftime("%Y/%m/%d(#{%w(日 月 火 水 木 金 土)[response.created_at.wday]})") %>
        </p>
        <p>
          <%= response.content %>
        </p>
        <% count += 1 %>
      </div>
      <% end %>
    <% end %>
  </div>

  <div class="response_form">
    <div class="sub_title">
      <h3>レスを投稿する</h3>
    </div>
    <%= form_with(model: @responce, local: true, url: responses_path) do |f| %>

    <div class="hidden_value">
      <%= f.hidden_field :board_id, value: @board.id%>
      <%= f.hidden_field :response_number, value: count %>
    </div>

    <div class="responce_content">
      <%= f.text_area :content %>
    </div>

    <div class="submit">
      <%= f.submit '書き込む' %>
    </div>
  <% end %>
  </div>
</div>
