<div class="sub_search">
  <%= form_with(model: Board.new, url: boards_path, method: :get, local: true) do |f| %>
    <%= f.text_field :title %>
    <br>
    <%= f.submit 'スレタイ検索', class: 'search_button' %>
<% end %>
</div>

<div class="category_index">
  <% @categories.each do |category| %>
    <div class="category_name">
      <%= link_to "#{category.name}", boards_path(search:{category_id: category.id}) %>
    </div>
  <% end %>
</div>

<div class="nav">
  <% if user_signed_in? %>
    <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
  <% else %>
    <%= link_to "新規登録", new_user_registration_path, class: "left_nav" %>
    <%= link_to "ログイン", new_user_session_path %>
  <% end %>
</div>

<div class="guide">
  <h1>5chクローン</h1>

  <p class="greeting1">巨大掲示板5chクローンへようこそ</p>
  <p class="greeting2">スレタイ検索もしくはカテゴリーからお好みのスレッドを探してください。</p>

  <div class="main_search">
    <%= form_with(model: Board.new, url: boards_path, method: :get, local: true) do |f| %>
      <%= f.text_field :title, placeholder: "キーワードを入力" %>
      <%= f.submit 'スレタイ検索', class: 'search_button' %>
  <% end %>
  </div>
</div>
