<div class="category_index">
  <% @categories.each do |category| %>
    <div class="category_name">

      <%= link_to "#{category.name}", boards_path(search:{category_id: category.id}) %>
    </div>
  <% end %>
</div>

<div class="nav">
  <% if user_signed_in? %>
    <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
  <% else %>
    <%= link_to "新規登録", new_user_registration_path, class: "left_nav" %>
    <%= link_to "ログイン", new_user_session_path %>
  <% end %>
</div>

<div class="search">
  <%= form_with(model: Board.new, url: boards_path, method: :get, local: true) do |f| %>
  <p>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </p>
    <%= f.submit '検索', id: 'search_button' %>
<% end %>
</div>
